.l-header {
  background-color: #73c89c;
  padding: 20px;
  @media screen and (max-width: 960px) {
    &__outer {
      display: flex;
      &__left-box {
        font-size: 20px;
      }
      &__right-box {
        display: flex;
        padding: 20px;
        &__link {
          padding: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 520px) {
  }
}
