<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <header class="l-header">
      <div class="l-header__outer">
        <div class="l-header__outer__left-box">
          <h1 class="l-header__outer__left-box__title">BLOG</h1>
        </div>
        <div class="l-header__outer__right-box">
          <button class="l-header__outer__right-box__link">
            <a href="/Top">link1</a>
          </button>
        </div>
      </div>
    </header>
    TOPPAGE
    <button><a th:href="@{/contact}" class="text-white">ここ</a></button>
  </body>
</html>
